@media (max-width: 900px) {
    .main-content-about {
       display: grid;
       grid-template-rows: 2fr;
   }
   .main-content-about-text {
        margin-left: 2rem;
        font-size: 1.5rem;
        width: 90%;
    }
    .photobig img {
        width: 10rem;
        height: 10rem;
        margin-left: 2rem;
        margin-top: 3rem;
    }
}