* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: 100vw;
    font-family: sans-serif;
    font-size: 62.5%;
}
header {
    height: 20vh;
    text-align: end;
    background-color: rgb(255, 228, 233);
}
.nav-header {
    display: flex;
    justify-content: space-between;
}
.nav-header .header-left {
    align-items: flex-start;
}
.nav-header .header-right {
    align-items: flex-end;
}
.nav-header .header-left .photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
}
main {
    height: 70vh;
    text-align: center;
    background-color: rgb(255, 249, 250);
    display: flex;
    justify-content: center;
}
main .main-title {
    color: black;
    font-weight: 300;
    font-size: 5rem;
}
footer {
    height: 10vh;
    background-color: rgb(255, 228, 233);
}
.foot-txt a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 2rem;
    color: black;
}
