* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: 100vw;
    font-family: sans-serif;
    font-size: 62.5%;
}
header {
    height: 20vh;
    text-align: end;
    background-color: rgb(255, 228, 233);
}
main {
    height: 80vh;
    text-align: center;
    background-color: rgb(255, 249, 250);
}
footer {
    height: 10vh;
    background-color: rgb(255, 228, 233);
}
.head-txt .foot-txt a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 1rem;
    color: black;
}
.nav-header .photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
}
main .main-pic {
    display: flex;
    justify-content: center;
}
main .main-pic .img-pic {
    height: 100px;
    width: 400px;
}
main .main-title {
    color: black;
    font-weight: 300;
    font-size: 5rem;
}