* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: 100vw;
    font-family: sans-serif;
    font-size: 62.5%;
}
header {
    height: 20vh;
    text-align: end;
    background-color: rgb(255, 228, 233);
}
.nav-header {
    display: flex;
    justify-content: space-between;
}
.nav-header .header-left {
    align-items: flex-start;
}
.nav-header .header-right {
    align-items: flex-end;
}
.nav-header .header-left .photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 30px;
}
.nav-header .header-right .linkedn {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
}
.nav-header .header-right .github {
    width: 120px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
}
.nav-header .header-right .instagram {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
}
.nav-header .header-right .ingles {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 30px;
}
main {
    height: 70vh;
    background-color: rgb(255, 249, 250);
}
main .main-section {
    display:flex;
    flex-direction: row;
}
main .main-title {
    color: black;
    font-family: fantasy;
    font-size: 5rem;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}
.main-content a {
    color: black;
    font-size: 2rem;
    display: inline;
    padding-left: 120px;
    text-decoration: none;
}
footer {
    height: 10vh;
    background-color: rgb(255, 228, 233);
}
footer a {
    padding-top: 20px;
    text-decoration: none;
    font-style: italic;
    font-size: 2rem;
    color: black;
    display: flex;
    justify-content: center;
}
