* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: 100vw;
    font-family: sans-serif;
    font-size: 62.5%;
}
header {
    height: 20vh;
    text-align: end;
    background-color: rgb(255, 228, 233);
}
.nav-header {
    display: flex;
    justify-content: space-between;
}
.nav-header .header-left {
    align-items: flex-start;
}
.nav-header .header-right {
    align-items: flex-end;
}
.nav-header .header-left .photo {
    width: 8rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 3rem;
}
.nav-header .header-right .linkedn {
    width: 7rem;
    margin-top: 2rem;
}
.nav-header .header-right .github {
    width: 11rem;
}
.nav-header .header-right .instagram {
    width: 7rem;
    margin-right: 2rem;
}
.nav-header .header-right .ingles {
    width: 7rem;
    margin-right: 2rem;
}
main {
    height: 70vh;
    background-color: rgb(255, 249, 250);
}
main .main-section {
    display:grid;
    grid-column:auto;
}
main .main-title {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}
.main-content {
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-size: 2rem;
}
.main-content .photobig {
    width: 25rem;
    border-radius: 10%;
}
footer {
    height: 10vh;
    background-color: rgb(255, 228, 233);
}
footer a {
    padding-top: 2rem;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(70, 70, 70);
    display: flex;
    justify-content: center;
}
